
.signinform{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.example-card {
    width: 30em;
    align-self: center;
    margin-top: 6em;
    align-items: flex-start;
}
.example-full-width {
    width: 100%;
   
}
.example-form{
    padding-top: 3em;
}
.progressbar {
    z-index: 111;
}