<!-- 
<div class="signupform">

</div> -->





<div class="signinform">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Welcome to BlackCrux</mat-card-title>
        <mat-card-subtitle>Sign In</mat-card-subtitle>
        <br><br>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="veryfirstFormGroup">
                  <form [formGroup]="veryfirstFormGroup">
                    <ng-template matStepLabel>Enter Username</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="Username" formControlName="username" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                      <input matInput placeholder="Email" formControlName="email" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field>
                  <input matInput placeholder="First name" formControlName="firstCtrlFNAME" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Last name" formControlName="firstCtrlSNAME" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Phone" formControlName="phone" required>
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput placeholder="Address" formControlName="address" required>
                  </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your password</ng-template>
                <mat-form-field>
                  <input matInput type="password" placeholder="Password" formControlName="secondCtrl" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="secondCtr2" required>
                  </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              You are now done.
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-raised-button color="accent">Confirm and Start</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-raised-button color="primary">Sign In</button> -->
        <br><br>
        <small>Already have an account?</small>
        <button mat-raised-button color="accent" [routerLink]="['/sign']">Sign In</button>
      </mat-card-actions>
    </mat-card>
    </div>