.signupform {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em;
    }

.firstFormGroup {
    width: 100%;
}

.signinform{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.example-card {
    width: 50em;
    align-self: center;
    margin-top: 6em;
    align-items: flex-start;
}
.example-full-width {
    width: 100%;
   
}